body {
    font-family: Arial, sans-serif;
    margin: 1rem;
}

@media (min-width: 920px) {
    body {
        max-width: 900px;
        margin: 1rem auto 1rem auto;
    }
}

button {
    font-size: 1rem;
    font-weight: bold;
}

#scheduleTable {
    margin: 2rem 0 1rem 0;
}

.d-center-header {
    text-align: center;
    margin: 5px 0 10px;
}

.d-hidden {
    display: none !important;
}

.d-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.d-justify-end {
    justify-content: end;
}

.d-justify-space-between {
    justify-content: space-between;
}

.d-justify-evenly {
    justify-content: space-evenly;
}

.d-settings-content {
    max-width: 400px;
    margin: 0 auto 0 auto;

    .d-settings-row {
        margin-top: 1rem;
    }

    label {
        display: block;
    }

    input {
        padding: 5px;
        width: 100%;
        margin-top: 5px;
        box-sizing: border-box;
    }
}


.d-schedule-label {
    font-size: 1.15rem;
}

.d-button {
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    background-color: #d7d7d7;
}

.d-margin-top-5 {
    margin-top: 5px;
}

.d-margin-top-10 {
    margin-top: 10px;
}

.d-margin-top-1rem {
    margin-top: 1rem;
}

.d-margin-top-1-5rem {
    margin-top: 1.5rem;
}

/* .d-position-relative {
    position: relative;
} */

.d-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .d-center-header {
        line-height: 2rem;
        margin: 0;
    }

    .d-schedule-wrapper {
        position: relative;
        background-color: white;
        border-radius: 5px;
        padding: 10px;

        .d-popup-main-content {
            margin-top: 2rem;
        }

        .d-close-button {
            width: 2rem;
            height: 2rem;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 2rem;
            box-sizing: border-box;
            text-align: center;
            padding: 0;
            font-weight: 900;
            font-size: 1.25rem;
            margin: 10px 10px 0 0;
        }
    }

    .d-bottom-buttons {
        display: flex;
        gap: 10px;

        button {
            flex: 0 0 100px;
        }
    }
}

.d-border-wrong {
    border: 2px dashed indianred;
    border-radius: 5px;
    padding: 3px;
}

.d-border-wrong-tab {
    border-top: 3px solid indianred !important;
}

.d-custom-view {

    .d-header label {
        margin-bottom: 0.5rem;
        display: block;
    }

    .d-schedule-row-input {
        width: 13.5rem;
    }

    .d-duration-select-container input {
        width: calc(100% - 2.6rem);
    }
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.form-select {
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-size: 1rem;
}

.form-time {
    padding: 0.25rem;
    font-size: 1rem;
}

.base-button {
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.schedule-button {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 1rem;
    margin-right: 1rem;
}

.delete-button {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1rem;
    font-weight: bold;
}

.top {
    display: flex;
    margin: 2rem 0 2rem 0;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-right: auto;
}

.tabs {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.tab-group-weekly-schedule.tabs {
    width: 600px;
    margin: 2rem auto 0 auto;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid transparent;
    background: none;
    font-size: 16px;
    width: 50%;
}

.tab.active {
    border-bottom: 2px solid #007bff;
    font-weight: bold;
    color: #007bff;
}

.tab-content {
    display: none;
    margin-top: 20px;
}

.tab-content.active {
    display: block;
}